---
---

@import "https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"

*
    box-sizing: border-box

html
    height: 100%

body
    background:            linear-gradient(to right, #FCF9F6, #FFFFFF)
    display:               flex
    flex-direction:        column
    height:                100%
    margin:                0
    overscroll-behavior-y: none
    padding:               0
    width:                 100%

    &.dark-mode
        background: #000
        color:      #FFF

body > header > nav
    background: linear-gradient(to right, #512DA8, #673AB7)
    display:    flex

    @media print
        display: none

    .nav-start, .nav-end
        display: flex

    .nav-start
        flex-grow: 1

    .button-group
        display:      flex
        margin-right: 4rem

        &:last-child
            margin-right: 0

    button, a
        background: none
        border:     none
        color:      #FFF
        cursor:     pointer
        display:    inline-block
        font-size:  1rem
        outline:    none
        padding:    1rem

        &:focus, &:hover, &:active
            background: linear-gradient(to right, #DC281E, #F00000)

    hr
        border: none

main
    align-items:     center
    display:         flex
    cursor:          text
    flex-grow:       1
    justify-content: center

#content
    column-count:   1
    column-rule:    solid 5px #512DA8
    font-family:    "Patrick Hand", sans-serif
    font-size:      100px
    margin:         0
    padding:        1rem
    outline:        none
    overflow:       none
    vertical-align: middle
    white-space:    wrap
    width:          100%
    word-break:     break-word

body.align-start
    #content
        text-align: start

    #startAlign
        background: #000

body.align-center
    #content
        text-align: center

    #centerAlign
        background: #000

body.align-end
    #content
        text-align: end

    #endAlign
        background: #000

body.align-justify
    #content
        text-align: justify

    #justifyAlign
        background: #000
