---
---

@import "https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"

$black:  #1F1F1F
$white:  #ECEFF4
$red:    #E92929
$orange: #E76B23
$yellow: #F2D34B
$green:  #14A647
$blue:   #049DD9
$purple: #873ACF
$pink:   #E58CFC

*
    box-sizing: border-box

html
    height: 100%

body
    background:            $white
    display:               flex
    flex-direction:        column
    height:                100%
    margin:                0
    overscroll-behavior-y: none
    padding:               0
    width:                 100%

    &.dark-mode
        background: $black
        color:      $white

body > header > nav
    background: $purple
    display:    flex

    @media print
        display: none

    .nav-start, .nav-end
        display: flex

    .nav-start
        flex-grow: 1

    .button-group
        display:      flex
        margin-right: 4rem

        &:last-child
            margin-right: 0

    button, a
        background: none
        border:     none
        color:      $white
        cursor:     pointer
        display:    inline-block
        font-size:  1rem
        outline:    none
        padding:    1rem

        &:focus, &:hover, &:active
            background: $red

    hr
        border: none

main
    align-items:     center
    display:         flex
    cursor:          text
    flex-grow:       1
    justify-content: center

#content
    column-count:   1
    column-rule:    solid 5px $purple
    font-family:    "Patrick Hand", sans-serif
    font-size:      100px
    margin:         0
    padding:        1rem
    outline:        none
    overflow:       none
    vertical-align: middle
    white-space:    wrap
    width:          100%
    word-break:     break-word

body.align-start
    #content
        text-align: start

    #startAlign
        background: $black

body.align-center
    #content
        text-align: center

    #centerAlign
        background: $black

body.align-end
    #content
        text-align: end

    #endAlign
        background: $black

body.align-justify
    #content
        text-align: justify

    #justifyAlign
        background: $black
