---
---

@import "https://fonts.googleapis.com/css?family=Inder&display=swap"
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"

*
    box-sizing: border-box

html
    height: 100%

body
    background: linear-gradient(to right, #D7DDE8, #757F9A)
    display:    table
    height:     100%
    margin:     0
    padding:    0
    width:      100%

#icons
    display:        table-cell
    padding:        1rem
    text-align:     center
    vertical-align: middle

    button
        background:    #EEE
        border:        solid 1px #000
        border-radius: 5px
        box-sizing:    border-box
        color:         #C00
        cursor:        pointer
        display:       inline-block
        font-size:     1rem
        margin:        0.5rem 0
        outline:       none
        padding:       1rem

        &:focus, &:hover, &:active
            background: #C00
            color:      #EEE

    hr
        background-color: #333
        border:           none
        display:          inline-block
        height:           1px
        margin:           0.5rem 0
        width:            50%

#content
    column-count:   1
    column-rule:    solid 1px #999
    display:        table-cell
    font-family:    "Inder", sans-serif
    font-size:      100px
    height:         100%
    margin:         0
    max-width:      100%
    padding:        1rem
    outline:        none
    overflow:       none
    text-align:     center
    vertical-align: middle
    white-space:    wrap
    width:          100%
    word-break:     break-word
