@import "https://fonts.googleapis.com/css?family=Inder&display=swap";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

* {
    box-sizing: border-box;
}

body {
    display: table;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#icons {
    border-right: solid 1px #000;
    display: table-cell;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

#icons button {
    background: #EEE;
    border: solid 1px #000;
    border-radius: 5px;
    box-sizing: border-box;
    color: #C00;
    display: inline-block;
    font-size: 2rem;
    margin: 10px 0;
    padding: 10px;
}

#icons hr {
    background-color: #333;
    border: none;
    display: inline-block;
    height: 1px;
    margin: 10px 0;
    width: 50%;
}

#content {
    background: linear-gradient(to bottom, #EDF, #DEF);
    column-count: 1;
    display: table-cell;
    font-family: 'Inder', sans-serif;
    font-size: 100px;
    height: 100%;
    margin: 0;
    max-width: 100%;
    padding: 1rem;
    outline: none;
    overflow: none;
    text-align: center;
    vertical-align: middle;
    white-space: wrap;
    width: 100%;
    word-break: break-word;
}
