body > header
    padding: $spacing-xs

    @media print
        display: none

    nav
        display: flex
        gap:     $spacing-md

        .nav-start, .nav-end
            display:        flex
            flex-direction: row
            flex-wrap:      wrap
            gap:            $spacing-md

        .nav-start
            flex-grow: 1

        .button-group
            border-radius: $border-radius
            display:       flex
            overflow:      hidden

            &:last-child
                margin-right: 0

            &:focus-within, &:hover
                background-color: light-dark(lighten($red, 33.333%), darken($red, 33.333%))

        button, a
            background: none
            border:     none
            color:      inherit
            cursor:     pointer
            display:    inline-block
            font-size:  1rem
            outline:    none
            padding:    1rem

            &:focus, &:hover, &:active
                background-color: $red
                color:            $white
